/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* HTML font size configuration for rem */

html {
  font-size: 10px;
}

/* body font family */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav and Header Purple background to avoid line between those sections */

.purple-background {
  background-color: #540b51;
}

/* Nav bar and header background */

nav,
header {
  background-color: #540b51;
}

/* NAV BAR */

nav {
  display: flex;
  border: none;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-bar-icons {
  align-self: center;
}

.nav-bar-icons button {
  color: white;
  background-color: #540b51;
  border: none;
}

.flex-nav-bar {
  display: flex;
  align-items: center;
  border: none;
}

.flex-nav-bar img {
  height: 30px;
}

.nav-hidden-list {
  font-size: 1.8rem;
}

/* HEADER */

/* h1 title */

header h1 {
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  color: white;
  background-color: #540b51;
  border: none;
  font-size: 5rem;
  font-weight: 600;
}

/* Header description */

.yellow-text {
  color: #ecb12f;
  font-size: 2rem;
  text-align: center;
}

.intro p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

/* Sign up buttons */

.sign-up-buttons {
  display: flex;
  flex-direction: column;
  background-color: #540b51;
  margin: 20px 0;
}

.sign-up-buttons button {
  margin: 5px 40px;
}

/* Email sign in button */

.email-button {
  height: 60px;
  color: #540b51;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  border: solid white 0px;
  border-radius: 5px;
}

/* Google button */

.google-button {
  height: 60px;
  display: grid;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #4285f4;
  border: solid #4285f4 0px;
  border-radius: 5px;
}

/* Google logo icon */

.google-button img {
  grid-row: 1;
  grid-column: 1/3;
  background-color: white;
  border: solid white 0px;
  border-radius: 5px;
  height: 25px;
  padding: 10px;
}

/* Google sign in text */

.google-button span {
  width: max-content;
  grid-row: 1;
  grid-column: 2/3;
  text-align: left;
}

/* App preview image */

.app-preview-image {
  width: 100%;
  overflow: hidden;
}

.app-preview-image img {
  height: 670px;
}

/* Nav for trusted companies and team , how to work and move faster ivory background to avoid line between those sections */

.ivory-background {
  background-color: #f3eae2;
}

/* TRUSTED COMPANIES SECTION */

.trusted-companies {
  padding: 40px;
  background-color: #f3eae2;
}

/* Trusted companies intro */

.trusted-companies p {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

/* Trusted companies logos */

.flex-companies-logos {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.flex-companies-logos img {
  height: 50px;
  padding: 20px 10px;
}

/* TEAM , HOW TO WORK AND MOVE FASTER SECTIONS */

.features-sections {
  background-color: #f3eae2;
  padding: 20px 0 35px;
}

/* Section h2 title */

.features-sections h2 {
  font-size: 3.5rem;
  padding: 0 20px;
}

/* Section description */

.features-sections p {
  padding: 5px 20px;
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Section link */

.features-sections a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 2rem;
  color: #2e71a6;
}

.features-sections a::after {
  content: '\2192';
}

/* Left aligned image */

.left-image {
  text-align: left;
}

.left-image img {
  width: 95%;
}

/* Right aligned images */

.right-image {
  text-align: right;
  margin-right: 0;
}

.right-image img {
  width: 95%;
}

/* TEAMS RELY ON SLACK SECTION */

.teams-rely-on-slack {
  padding: 20px 20px 35px;
}

/* section h3 title */

.teams-rely-on-slack h3 {
  font-size: 3.2rem;
  text-align: center;
}

/* Description paragraph */

.teams-rely-on-slack-description {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Section buttons */

.teams-rely-on-slack-buttons {
  display: flex;
  flex-direction: column;
  margin: 20px 0 80px;
}

.teams-rely-on-slack-buttons button {
  margin: 5px 10px;
}

.meet-slack-button {
  height: 60px;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #540b51;
  border: solid #540b51 2px;
  border-radius: 5px;
}

.talk-sales-button {
  height: 60px;
  color: #540b51;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: white;
  border: solid #540b51 2px;
  border-radius: 5px;
}

/* Section Percentages and Descriptions */

.teams-rely-on-slack ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.teams-rely-on-slack ul span {
  color: #540b51;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.percentage-description {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 30% 40px;
}

/* Section disclaimer */

.disclaimer {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
}

.disclaimer span::after {
  content: '\00B1';
}

/* WELCOME SECTION */

.welcome {
  background-color: #540b51;
  padding: 20px;
}

/* section h3 title */

.welcome h3 {
  font-size: 3.2rem;
  color: white;
  text-align: center;
}

/* Section buttons */

.welcome-buttons {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.welcome button {
  margin: 10px 10px;
}

.talk-to-sales-button {
  height: 60px;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #540b51;
  border: solid white 2px;
  border-radius: 5px;
}

.try-for-free-button {
  height: 60px;
  color: #540b51;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: white;
  border: solid #540b51 2px;
  border-radius: 5px;
}

/* FOOTER SECTION */

footer {
  margin: 30px 20px;
}

/* Slack logo icon */

footer img {
  width: 50px;
  margin-bottom: 20px;
}

/* Footer list configuration */

footer ul {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 1.5rem;
  line-height: 3;
}

/* Sitemap configuration */

.sitemap-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.sitemap-flex li {
  color: #454245;
  font-weight: 300;
}

.sitemap-title {
  color: black !important;
  font-weight: 600 !important;
}

/* Footer line */

hr {
  margin: 30px 0;
}

/* Footer final list (Status, Privacy, Terms...) */

.footer-final-list li {
  font-weight: 600;
}

/* Region and Download icons setup */

.footer-final-list-icon {
  display: grid;
  grid-auto-columns: min-content;
  align-items: center;
}

.footer-final-list-icon img {
  width: 20px;
  margin: 0 10px 0 0;
  grid-row: 1;
  grid-column: 1;
}

.footer-final-list-icon span {
  width: max-content;
  grid-row: 1;
  grid-column: 2;
  text-align: left;
}

.download-slack {
  color: #2e71a6;
}

/* Social media icons */

.social-media-icons {
  display: flex;
  justify-content: space-between;
}

/* Copyright disclaimer */

.copyright {
  color: #454245;
  font-weight: 100;
  font-size: 1.4rem;
}

/* MOBILE SCREENS RESPONSIVE DESIGN */

@media (max-width: 767px) {
  .flex-nav-bar ul {
    display: none;
  }

  .nav-hidden-buttons {
    display: none;
  }
}

/* SMALL SCREENS RESPONSIVE DESIGN */

@media (min-width: 768px) and (max-width: 1023px) {
  /* NAV BAR */

  .flex-nav-bar ul {
    display: none;
  }

  .nav-hidden-buttons {
    display: none;
  }

  /* HEADER */

  header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }

  header h1 {
    text-align: left;
    background-image: url(../images/background-singup.png);
    background-size: 200%;
    background-repeat: no-repeat;
    padding-left: 40px !important;
  }

  .header-description {
    text-align: left !important;
    padding-left: 40px !important;
  }

  .app-preview-image {
    overflow-y: hidden !important;
    margin-left: auto !important;
    text-align: right;
  }

  .app-preview-image img {
    padding-left: 10px;
    height: 350px;
  }

  /* TRUSTED COMPANIES SECTION */

  .flex-companies-logos img {
    height: 40px;
  }

  /* TEAM , HOW TO WORK AND MOVE FASTER SECTIONS */

  .connectedness-image {
    content: url(../images/connectedness.png);
    width: 80%;
  }

  .flexibility-image {
    content: url(../images/flexibility.png);
    width: 80%;
    margin-left: auto;
    text-align: right;
  }

  .speed-image {
    content: url(../images/speed.png);
    width: 80%;
  }

  /* TEAMS RELY ON SLACK SECTION */

  .teams-rely-on-slack {
    margin: 30px 0;
  }

  .teams-rely-on-slack-buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  .meet-slack-button {
    width: 50%;
  }

  .talk-sales-button {
    width: 50%;
  }

  .teams-rely-on-slack ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .teams-rely-on-slack ul span {
    padding: 0 20px;
  }

  .percentage-description {
    margin: 0;
    padding: 0 20px 20px;
    text-align: left;
  }

  .disclaimer {
    text-align: left;
    padding: 0 20px;
  }

  /* WELCOME SECTION */

  .welcome-buttons {
    flex-direction: column-reverse;
  }

  /* FOOTER SECTION */

  .footer-final-list {
    display: flex;
    justify-content: space-between;
  }

  .social-media-icons {
    width: 35%;
    justify-content: space-between;
  }
}

/* MEDIUM SCREENS RESPONSIVE DESIGN */

@media (min-width: 1024px) and (max-width: 1439px) {
  .nav-menu-icon {
    display: none;
  }

  .flex-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .flex-nav-bar ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }

  .nav-bar-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .nav-hidden-buttons {
    margin: auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .nav-hidden-buttons li a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .sign-in-nav-button a {
    background-color: #540b51;
    color: white;
  }

  .try-for-free-nav-button a {
    color: #540b51;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }

  /* HEADER */

  header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }

  header h1 {
    text-align: left;
    background-image: url(../images/background-singup.png);
    background-size: 200%;
    background-repeat: no-repeat;
    padding-left: 40px !important;
  }

  .header-description {
    text-align: left !important;
    padding-left: 40px !important;
  }

  .app-preview-image {
    overflow-y: hidden !important;
    margin-left: auto !important;
    text-align: right;
  }

  .app-preview-image img {
    padding-left: 10px;
    height: 380px;
  }

  /* TRUSTED COMPANIES SECTION */

  .flex-companies-logos img {
    height: 45px;
  }

  /* TEAM , HOW TO WORK AND MOVE FASTER SECTIONS */

  .features-sections {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    align-items: center;
  }

  .features-sections h2 {
    margin-top: 0 !important;
  }

  .image-left-text-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
  }

  .text-left-image-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 40px;
  }

  .connectedness-image {
    content: url(../images/connectedness.png);
    height: 250px;
    align-self: center;
    padding-right: 40px;
  }

  .flexibility-image {
    content: url(../images/flexibility.png);
    height: 250px;
    align-self: center;
    margin-left: auto;
    padding-left: 40px;
    text-align: right;
  }

  .speed-image {
    content: url(../images/speed.png);
    height: 250px;
    align-self: center;
    padding-right: 40px;
  }

  .features-sections-text-area {
    width: 60%;
  }

  /* TEAMS RELY ON SLACK SECTION */

  .teams-rely-on-slack {
    margin: 30px 0;
  }

  .teams-rely-on-slack-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .meet-slack-button {
    width: 45%;
  }

  .talk-sales-button {
    width: 45%;
  }

  .teams-rely-on-slack ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .teams-rely-on-slack ul span {
    padding: 0 20px;
  }

  .teams-rely-on-slack li {
    width: 30%;
  }

  .percentage-description {
    margin: 0;
    padding: 0 20px 20px;
    text-align: left;
  }

  .disclaimer {
    text-align: left;
    padding: 0 20px;
  }

  /* Section buttons */

  .welcome-buttons {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .talk-to-sales-button {
    width: 25%;
  }

  .try-for-free-button {
    width: 25%;
  }

  /* FOOTER SECTION */

  .footer-final-list {
    display: flex;
    justify-content: space-between;
  }

  .social-media-icons {
    width: 35%;
    justify-content: space-between;
  }
}

/* LARGE SCREENS RESPONSIVE DESIGN */

@media (min-width: 1440px) {
  html {
    font-size: 12px;
  }

  .nav-menu-icon {
    display: none;
  }

  .flex-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .flex-nav-bar ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }

  .nav-bar-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .nav-hidden-buttons {
    margin: auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .nav-hidden-buttons li a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .sign-in-nav-button a {
    background-color: #540b51;
    color: white;
  }

  .try-for-free-nav-button a {
    color: #540b51;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }

  /* HEADER */

  header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  header h1 {
    text-align: left;
    padding-left: 80px !important;
  }

  .header-description {
    text-align: left !important;
    padding-left: 80px !important;
  }

  .sign-up-buttons {
    padding-left: 80px !important;
    display: flex;
    flex-direction: row;
  }

  .email-button {
    width: 50%;
    margin: 0 20px 0 0 !important;
  }

  .google-button {
    width: 50%;
    margin: 0 !important;
  }

  .app-preview-image {
    margin-left: 20px !important;
    margin-right: 80px;
    width: 70%;
    height: 300px;
    text-align: right;
  }

  .app-preview-image img {
    padding-left: 10px;
    height: 380px;
  }

  /* TRUSTED COMPANIES SECTION */

  .flex-companies-logos {
    justify-content: space-around;
  }

  /* TEAM , HOW TO WORK AND MOVE FASTER SECTIONS */

  .features-sections {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    align-items: center;
  }

  .features-sections h2 {
    margin-top: 0 !important;
  }

  .image-left-text-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
  }

  .text-left-image-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 40px;
  }

  .connectedness-image {
    content: url(../images/connectedness.png);
    height: 350px;
    align-self: center;
    padding-right: 40px;
  }

  .flexibility-image {
    content: url(../images/flexibility.png);
    height: 350px;
    align-self: center;
    margin-left: auto;
    padding-left: 40px;
    text-align: right;
  }

  .speed-image {
    content: url(../images/speed.png);
    height: 350px;
    align-self: center;
    padding-right: 40px;
  }

  .features-sections-text-area {
    width: 60%;
  }

  /* TEAMS RELY ON SLACK SECTION */

  .teams-rely-on-slack {
    margin: 30px 0;
  }

  .teams-rely-on-slack-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .meet-slack-button {
    width: 30%;
  }

  .talk-sales-button {
    width: 30%;
  }

  .teams-rely-on-slack ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .teams-rely-on-slack ul span {
    padding: 0 20px;
  }

  .teams-rely-on-slack li {
    width: 20%;
  }

  .percentage-description {
    margin: 0;
    padding: 0 20px 20px;
    text-align: left;
  }

  .disclaimer {
    text-align: left;
    padding: 0 40px;
  }

  /* Section buttons */

  .welcome-buttons {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .talk-to-sales-button {
    width: 25%;
  }

  .try-for-free-button {
    width: 25%;
  }

  /* FOOTER SECTION */

  .footer-final-list {
    display: flex;
    justify-content: space-between;
  }

  .social-media-icons {
    width: 35%;
    justify-content: space-between;
  }
}
